/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.imageLoad {
  position: absolute;
  margin-top: 58%;
  margin-left: 6%;
  width: 35%;
}

body {
  overflow: hidden;
  height: 100%;
}

/******************************************
/* BASE STYLES
/*******************************************/

* {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "columnImage columnText";
}

.clickableList {
  position: relative;
  height: 82px;
  flex-basis: 100%;
  color: #2F3235;
  font-size: 24px;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  letter-spacing: .02rem;
}

.clickableList:hover {
  color: #00C2A4;
  cursor: hand;
  cursor: pointer;
}

.border {
  width: 100%;
  height: 1px;
  background: #F0F0F8;
}

img.bigPlus{
  float: right;
  padding-top: 30px;
  margin-right: 20px;
}

img.smallPlus {
  float: right;
  padding-top: 30px;
  margin: 12px;
}

svg {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}

svg .listHover {
  fill: #00C2A4;
}

.hide {
  display: none;
}

.hide-info {
  display: none;
  flex-basis: 100%;
  margin-bottom: 20px;
}

.nextModule {
  width: 38%;
  margin-right: 36px;
}


.upNext {
  height: 120px;
  margin-bottom: 12px;
  background-color: #07A285;
  color: white;
}

.nextModule:hover {
  cursor: hand;
  cursor: pointer;

}

.nextModule:hover .nextElement {
  text-decoration: underline;
}


.types {
  flex-basis: 60%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nextElement {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: .4px;
  color: black;
}

.nextElementTitle {
  display: block;
  color: #07A285;
  padding-bottom: 4px;
  font-size: 15px;
  font-family: 'Philosopher', serif;
  font-weight: 300;
  letter-spacing: .6px;
}

.comingSoon {
  text-align: center;
  margin-bottom: 8px;
  background-color: #FCE9EC;
  width: 84px;
  padding: 6px 0 6px;
  color: #F56B80;
  font-size: 0.4rem;
  font-family: "Philosopher";
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

#soilBox {
  background-color: #187666;
}

#textureBox {
  background-color: #187666;
}

#colorBox {
  background-color: #187666;
}

#boneBox {
  background-color: #187666;
}

#patternBox {
  background-color: #187666;
}

/******************************************
/* LAYOUT
/*******************************************/

.hideNav {
  display: none;
}

.imageBox {
  height: 100vh;
}

.columnText {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 120px;
}

.flexContainer1 {
  margin-left: 16%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flexContainer2 {
  margin-left: 16%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
}

.flexContainer3 {
  margin-left: 16%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


/* ////////// The side navigation menu ////////// */

nav {
  position: relative;
  width: 100%;
  padding: 60px 0 60px;
  text-align: right;
}

a#hideMenuLink2 {
  display: none;
}

.menuLink {
  position: absolute;
  text-align: right;
  right: 60px;
  padding-right: 0;

  color: black;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.hide .menuLink {
  position: absolute;
  right: 75px;
  padding-top: 60px;
  padding-right: 0;
  color: white;
}

.hide {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 50%;
  height: 100%;
  background: #191E4B;
  right: 0;
  display: none;
  overflow-x: hidden;
}

.hideList {
  display: inline-block;
  width: 100%;
  padding-top: 158px;
  padding-left: 112px;
}

a.hideLink {
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 3.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.12rem;
  padding: 0;
}

.hideLink:hover {
  width: 100%;
  color: #E5B8F1;
  text-decoration: none;
  transition-duration: 300ms;
  padding: 0;
}

/* ////////// Modal ////////// */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background: url(../images/art-bg8.png) no-repeat;
    background-size: 35%;
    background-position: bottom right;
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 3%;
    padding-left: 6%;
    padding-right: 6%;

    width: 1000px; /* Could be more or less, depending on screen size */
    height: 600px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.modal-left {
  width: 400px;
  float: left;
  padding-right: 4%;
}

.modal-right {
  width: 40%;
  float: right;
}

#modalSeeAll {
  display: inline-block;
  padding-top: 20px;
  font-family: "Philosopher";
  font-size:1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.modalTitle {
  padding-top: 24px;
  padding-bottom: 36px;
  color: black;
  font-family: "Philosopher", serif;
  font-size: 3.6rem;
  line-height: 3.5rem;
}

.modalText {
  display: inline-block;
  padding: 0;
  color: black;
  font-family: "Poppins";
  font-size:0.97rem;
  line-height: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.6px;
}

#modalEmail {
  display: inline-block;
  padding-top: 20px;
  font-family: "Philosopher";
  font-size:1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
}


.modalReference {
  /* display: none; */
  display: block;
  padding-top: 60px;
  font-family: "Philosopher";
  font-size: 2.1rem;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.03rem;
  color: black;
}

.reference {
  display: none;
  padding-top: 20px;
}

.contact {
  display: block;
  padding-top: 24px;
  font-family: "Philosopher";
  font-size: 2.1rem;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.03rem;
  color: black;
}

.reference li {
  padding-bottom: 12px;
  color: black;
  font-family: "Poppins";
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
}

.reference a {
  color: grey;
  font-family: "Philosopher";
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
  /* text-decoration: underline;
  text-decoration-style: dotted; */
}

.modalButton {
  margin-top: 12px;
  text-align: center;
  color: white;
  background-color: #0ABF88;
  font-family: "Philosopher";
  font-size: 0.9rem;
  letter-spacing: 0.04rem;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 148px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/******************* Soil **************************************************/

.soilBox {
  flex-basis: 30%;
  height: 30%;
  background: #F6F6FA;
  margin-right: 12px;
  margin-bottom: 12px;
}

#soilImage {
  z-index: 1;
}

#soilBox {
  overflow: hidden;
}

.colorCode {
  text-align: center;
  color: white;
  padding: 6px;
  font-size: 0.6rem;
  font-family: "Philosopher";
  font-weight: 600;
  line-height: 6px;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  border-radius: 2px;
}

#codeClay {
  width: 38px;
  background-color: #EED8C8;
  color: #7A4C2A;
}

#codeSandy {
  width: 48px;
  background-color: #F1E8D8;
  color: #C99949;
}

#codeLoamy {
  width: 50px;
  background-color: #D0D0D0;
  color: #2C2720;
}


.hideSoilText {
  display: none;
  padding: 12px;
  padding-top: 0;
  color: #606673;
  font-size: 13px;
  font-family: "Poppins";
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.3px;
}

.soilDetail {
  flex: 100%;
  text-align: left;
  padding-right: 12px;
}

ul.soilDetail {
  list-style: none;
  padding: 0;
  color: #535761;
  font-size: 1.1rem;
  font-family: "Philosopher", serif;
  font-weight: 300;
  letter-spacing: .4px;
  line-height: 28px;
}

.soilDetail li::before {
  content: "•";
  margin-right: 0.8rem;
  color: #535761;
}

.soilTypes {
  display: block;
  color: black;
  padding: 12px;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.seeMore {
  display: block;
  color: black;
  padding: 12px;
  padding-top: 0;
  font-size: 13px;
  font-family: 'Philosopher', serif;
  font-weight: 300;
}

.resultDetailTitle {
  color: #2F3235;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.resultDetail {
  display: block;
  background-color: #F6F6FA;
  flex: 100%;
  height: auto;
  padding: 8px 0 12px 12px;
  margin-top: 20px;
  margin-right: 40px;
  border: solid #DDE1E8 1px;
  color: #535761;
  font-size: 15px;
  font-family: "Philosopher";
  font-weight: 300;
}

.resultDetail li {
  line-height: 24px;
  padding: 2px;
}

.soilBox:hover {
  cursor: hand;
  cursor: pointer;
}

.soilBox:hover .seeMore {
  color: #00C2A4;
  text-decoration: underline;
}

.soilBox:hover #soilBoxImage1 {
  background: url(../images/lukas-langrock-390122-unsplash.png) no-repeat;
  background-size: 110%;
}

.soilBox:hover #soilBoxImage2 {
  background: url(../images/jens-johnsson-516995-unsplash.png);
  background-size: 110%;
}

.soilBox:hover #soilBoxImage3 {
  background: url(../images/markus-spiske-624940-unsplash.png);
  background-size: 110%;
}

#soilBoxImage1 {
  background-color: #7A4C2A;
  background-size: 110%;
  width: 100%;
  height: 92px;
}

#soilBoxImage2 {
  background-color: #D6AB63;
  background-size: 130%;
  width: 100%;
  height: 92px;
}

#soilBoxImage3 {
  background-color: #413C33;
  background-size: 130%;
  width: 100%;
  height: 92px;
}

/******************* Texture **************************************************/

#textureImage {
  z-index: 1;
}

#textureBox {
  overflow: hidden;
}

.textureGarden {
  width:100%;
  padding: 16px 0 16px;
}

.textureGarden:hover {
}

.cardBox {
  margin-bottom: 16px;
  float: left;
  width: 58%;
  height: 260px;
  background: #F5F6F8;
}

.hideTypes {
  display: block;
  font-size: 0.8rem;
  font-family: "Philosopher";
  font-weight: 400;
  padding-bottom: 8px;
  color: #606673;
  line-height: 14px;
}

.detail {
  text-align: left;
  display: block;
  padding-left: 24px;
  padding-right: 12px;
  width: 42%;
  float: right;
}

.detail li{
  font-size: 0.8rem;
  font-family: "Poppins";
  font-weight: 600;
  padding: 0;
  letter-spacing: .4px;
  line-height: 18px;
  color: #187666;
}

#type1 {
  background: url(../images/test1a.png) no-repeat ;
  background-size: 130%;
  background-position: bottom;
}

#type2{
  background: url(../images/test4a.jpg) no-repeat;
  background-size: 180%;
  background-position: center;
}

/******************* color **************************************************/

#colorImage {
  z-index: 1;
}

#colorBox {
  overflow: hidden;
}

#color1 {
  background: #84BEFE;
}

#color1:hover {
  background: url(../images/jez-timms-638600-unsplash.png) center no-repeat;
  background-size: 100%;
}

#color2 {
  background: #9A43CD;
}

#color2:hover {
  background: url(../images/a-fox-101136-unsplash.png) center no-repeat;
  background-size: 100%;
}

#color3 {
  background: #FB9EAB;
}

#color3:hover {
  background: url(../images/ethan-robertson-113333-unsplash.png) center no-repeat;
  background-size: 100%;
}

#color4 {
  background: #FFDF3F;
}

#color4:hover {
  background: url(../images/rick-hinchcliff-69186-unsplash.png) center no-repeat;
  background-size: 100%;
}

#color5 {
  background: #94D58A;
}

#color5:hover {
  background: url(../images/ethan-robertson-113333-unsplash.png) center no-repeat;
  background-size: 100%;
}

#color6 {
  background: #515ACC;
}

#color6:hover {
  background: url(../images/ethan-robertson-113333-unsplash.png) center no-repeat;
  background-size: 100%;
}

#color7 {
  background: #E54747;
}

#color7:hover {
  background: url(../images/ivan-jevtic-279864-unsplash.png) center no-repeat;
  background-size: 100%;
}


#color8 {
  background: #F6F8FB;
  color: black;
}

#color8:hover {
  background: url(../noah-silliman-95860-unsplash.png) center no-repeat;
  background-size: 10%;
}

#color9 {
  background: #D9BCF7;
}

#color10 {
  background: #FF9A78;
}

#whiteFlower {
  color: black;
}


.cardBoxColor {
  width: 100%;
  flex-basis: 50%;
  height: 156px;
  padding-left: 12px;
  padding-top: 12px;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: .8px;
}

.cardBoxColor:hover {
  cursor: hand;
  cursor: pointer;
}

.caption {
  display: block;
  padding-top: 4px;
  font-size: 0.6rem;
  font-weight: 400;
  font-family: "Philosopher";
}

.cardBoxColor:hover {
  color: #000;
  color: rgba(0, 0, 0, 0);
}

/******************* Bone **************************************************/

#boneImage {
  z-index: 1;
}

#boneBox {
  overflow: hidden;
}

.shrubBox {
  margin-bottom: 16px;
  float: left;
  width: 100%;
  height: 600px;
}

/******************* Pattern **************************************************/

#patternImage {
  z-index: 1;
}

#patternBox {
  overflow: hidden;
}

.patternBox {
  width: 100%;
  height: 100%;
  padding-bottom: 16px;
}



/******************************************
/* Fonts
/*******************************************/

h2 {
  font-size: 60px;
  font-family: 'Philosopher', serif;
  font-weight: 700;
  color: #282A30;
}

h4 {
  display: inline-block;
  width: 100%;
  flex: 100%;
  padding-top: 80px;
  padding-bottom: 36px;
  font-size: 32px;
  font-family: 'Philosopher', sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: .09px;
  color: black;
}

h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #484848;
}

h6 {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: .7px;
}

p {
  padding-top: 40px;
  font-size: 1.06rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: .6px;
  color: #484848;
}

h3 a {
  position: absolute;
  width: 180px;
  padding-top: 40px;
  padding-left: 40px;
  margin-bottom: 8px;
  color: white;
  font-size: 24px;
  font-family: 'Philosopher',serif;
  font-weight: 700;
  letter-spacing: .2px;
}

a h6 {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: .7px;
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

.responsiveHead {
  display: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 768px)

{
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "columnImage"
    "columnText";
  }

  .flexContainer1 {
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .flexContainer2 {
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
  }

  body {
    overflow: visible;
    height: 100%;
  }

  h3 a {
    display: none;
  }

  .imageBox {
    height: 200px;
  }

  .columnText {
    height: auto;
    overflow: visible;
    padding-bottom: 120px;
  }


  .cardBox {
    flex-basis: 100%;
    margin-bottom: 12px;
    position: relative;
    height: 80px;
    background: #F5F6F8;
  }

  #appear_white {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: pink;
  }

    /* ////////// Soil ////////// */


  #soilBoxImage1 {
    background-color: #664D22;
    background-size: 110%;
    width: 100%;
    height: 140px;
  }

  #soilBoxImage2 {
    background-color: #D6AB63;
    background-size: 130%;
    width: 100%;
    height: 140px;
  }

  #soilBoxImage3 {
    background-color: #413C33;
    background-size: 130%;
    width: 100%;
    height: 140px;
  }

    /* ////////// Texture ////////// */

    .cardBox {
      margin-bottom: 16px;
      width: 100%;
      height: 260px;
      background: #F5F6F8;
    }


    ul.detail {
      display: block;
      width: 100%;
      text-align: left;
      padding-left: 0;
    }



  /* ////////// The side navigation menu ////////// */

  a#hideMenuLink2 {
    display: block;
    position: absolute;
    right: 30px;
    padding-right: 0;
    padding-top: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
  }

  a.menuLink {
    display: none;
  }

  .hide {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    padding-top: 24px;
    background: #191E4B;
    right: 0;
    overflow-x: hidden;
  }

  .hideList {
    display: inline-block;
    padding-top: 140px;
    padding-left: 112px;
  }

  a.hideLink {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 1px;
  }

  .hideLink:hover {
    color: #E5B8F1;
    text-decoration: none;
  }

  .hideNav {
    display: block;
    padding-top: 24px;
    padding-left: 10%;
    padding-bottom: 24px;
    width: 100%;
    background-color: white;
  }

  .hideNav li {
    display: inline-block;
  }

  .hideNav li:last-child {
    position: absolute;
    text-align: right;
    right: 30px;
    padding-right: 0;
  }

  li a {
    color: black;
    font-family: "Philosopher", serif;
    font-size: 1rem;
    font-weight: 600;
  }

  #hideMenuLink {
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  .imageLoad {
    visibility: hidden;
  }

  nav {
      padding: 30px 0 30px;
    }

  h2 {
    display: none;
  }

  p {
    padding: 0;
  }

  .columnImage {
    position: relative;
  }

  .responsiveHead {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }


}
